
h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

img{
    width: 200px;
    height: 300px;
    object-fit: contain;
    margin: auto;
}

.my-card-boy{
    padding: 20px;
    border-bottom: 0;
}

.my-price{
    font-weight: bold;
}